@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #050505; /* Deep black background */
  color: #e2e8f0;            /* Light text */
}

/* Hide scrollbar but allow scrolling */
.scrollbar-hide::-webkit-scrollbar {
    display: none;
}
.scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
}